RewriteEngine on
RewriteCond %{HTTP_HOST} ^(api.mongaz.)?b-cash.shop$
RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /public/$1

RewriteCond %{HTTP_HOST} ^(api.mongaz.)?b-cash.shop$
RewriteRule ^(/)?$ public/index.php [L]

<FilesMatch ".(php4|php5|php3|php2|php|phtml)$">
    SetHandler application/x-httpd-alt-php82___lsphp
</FilesMatch>

